
.news-detail{
    margin: 20px 150px 0 150px;
}

.news-layout{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

h2{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

h3{
    font-size: 15px;
    font-weight: 550;
    margin: 10px 0;
}

p{
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


.sidebar {
    padding: 20px;
    top: 30px;
}

.sidebar h2 {
    border-bottom: 2px solid #f0f0f0;
    cursor: pointer;
}

.sidebar h2:hover {
    color: #c97a3a;
}

.news-category ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-category li a {
    display: block;
    padding: 6px 0;
    font-size: 15px;
    color: #555;

}

.news-category li a:hover {
    color: #c97a3a;
}

.news-hot h2 {
    margin-top: 20px;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.news-hot-image img {
    width: 200px;
    height: 80px;
    object-fit: cover;
    border-radius: 10%;
}

.news-hot-title a {
    font-size: 14px;
    font-weight: 400;
}

.news-hot-title a:hover {
    color: #c97a3a;
}

.news-down{
    margin:10px 150px 30px 150px;
    padding-top: 10px;
}

.news-relate h2{
    cursor: pointer;
}

.news-relate h2:hover{
    color: #c97a3a;
}

.news-relate-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.news-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.news-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.news-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.news-text span {
    font-size: 13px;
    margin-top: 10px;
    display: block;
}

.news-text h3 {
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
}

.news-text h3:hover {
    color: #c97a3a;
}

.news-text p {
    font-size: 14px;
    margin-top: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.read-more {
    font-size: 14px;
    font-weight: 500;
    color: #c97a3a;
    margin-top: 10px;
}

.read-more:hover {
    text-decoration: underline;
}
