
body{
    font-family: "Poppins", "Segoe UI", sans-serif;
    margin: 0 auto;
    padding: 0;
}


.products-wrapper{
    margin: 0 150px 0 150px;
}

.filter-bar{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.filter-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.filter-control{
    height: 40px;
    display: flex;
    gap: 10px;
}

#category, #bo-loc{
    height: 100%;
    border: 1px solid #777777;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    float: left;
}

#category:hover, #bo-loc:hover{
    background-color: rgb(255, 250, 240, 255);
}

.sort-control{
    display: flex;
    align-items: center;
    float: right;
    gap: 10px;

}

.sort-control #sor{
    font-size: 14px;
    font-weight: bold;
}

.sort-control button{
    height: 30px;
    margin-left: 5px;
    border: 1px solid #c97a3a;
    cursor: pointer;
    border-radius: 5px;
}

.sort-control button:hover{
    background-color: rgb(255, 250, 240, 255);
}

.scrolls-btn {
    position: relative;
    margin-top: 80px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #c97a3a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    cursor: pointer;
}

.scrolls-btn:hover {
    background-color: #c97a3a;
    color: #fff;
}

.product-list {
    padding: 20px 0;
}

.product-grid {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 25px;
}

.product-card {
    background-color: rgb(255, 250, 240, 255);
    border: 1px solid #eeeeee;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.4s ease;
}

.product-card:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.product-link {
    text-decoration: none;
    color: #333333;
}

.product-img {
    position: relative;
    padding: 10px;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sale {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #d9534f;
    color: white;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.product-info {
    padding: 15px;
}

.product-info h3 {
    font-size: 14px;
    font-weight: 450;
    margin: 0 0 10px 0;
    height: 40px;
}

.price {
    font-size: 14px;
    font-weight: bold;
    color: #d9534f;
    margin-right: 10px;
}

.compare-price {
    font-size: 14px;
    color: #777777;
    text-decoration: line-through;
}

.PhanTrang {
    display: flex;
    justify-content: center;
    padding: 40px 0 20px 0;
}

.PhanTrang ul {
    display: flex;
    gap: 7px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.PhanTrang .btn {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    color: #333333;
    transition: all 0.2s ease;
}

.PhanTrang .btn:hover {
    background-color: #f39c12;
}

.PhanTrang .btn.active {
    background-color: #f39c12;
    color: white;
    border-color: #f39c12;
}