
body{
    font-family: "Poppins", "Segoe UI", sans-serif;
    margin: 0 auto;
    padding: 0;
}

.products-wrapper{
    margin: 0 100px 0 100px;
}

.product-list {
    padding: 20px 50px;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.product-card {
    background-color: rgb(255, 250, 240, 255);
    border: 1px solid #eeeeee;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.4s ease;
}

.product-card:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.product-link {
    text-decoration: none;
    color: #333333;
}

.product-img {
    position: relative;
    padding: 10px;
}

.product-img img {
    width: 100%;
    height: 100%;
}

.sale {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #d9534f;
    color: white;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.product-info {
    padding: 15px;
}

.product-info h3 {
    font-size: 14px;
    font-weight: 450;
    margin: 0 0 10px 0;
    height: 40px;
}

.price {
    font-size: 14px;
    font-weight: bold;
    color: #d9534f;
    margin-right: 10px;
}

.compare-price {
    font-size: 14px;
    color: #777777;
    text-decoration: line-through;
}
