
body{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", "Segoe UI", sans-serif;
    margin: 0 auto;
    padding: 0;
}

.category {
    background-color: #f7f3f0;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}

.category::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    background: url('#') no-repeat left bottom;
}

.category::after {
    position: absolute;
    width: 300px;
    height: 100%;
    background: url('#') no-repeat right bottom;
}

.category .container {
    position: relative;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c97a3a;
    margin: 10px;
}
.nameTitle {
    display: flex;
    justify-content: center;
    margin: 0 auto 25px auto;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
}

.nameTitle li:not(:last-child)::after {
    content: '>';
    margin: 0 10px;
    color: #333;
}

.nameTitle a {
    color: #777;
    text-decoration: none;
}
.nameTitle a:hover {
    color: #c97a3a;
}

.nameTitle .allProduct span {
    color: #c97a3a;
    font-weight: 500;
    font-size: 14px;
}

.category-list-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.category-list {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    padding: 10px 0;
    margin: 0 auto;
    list-style: none;
}

.category-list::-webkit-scrollbar {
    display: none;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    text-decoration: none;
    color: #333;
}

.category-item img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.category-item span {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.category-item:hover img {
    transform: scale(1.05);
}
.products-wrapper{
    margin: 0 100px 0 100px;
}
.scroll-btn {
    position: relative;
    margin-top: 80px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #c97a3a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    cursor: pointer;
}
.scroll-btn:hover {
    background-color: #c97a3a;
    color: #fff;
}
.category-list-wrapper button:first-of-type {
    left: 20px;
}

.category-list-wrapper .scroll-btn {
    right: 20px;
}
.product-list {
    padding: 20px 0;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.product-card {
    background-color: rgb(255, 250, 240, 255);
    border: 1px solid #eeeeee;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.4s ease;
}

.product-card:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.product-link {
    text-decoration: none;
    color: #333333;
}

.product-img {
    position: relative;
    padding: 10px;
}

.product-img img {
    width: 100%;
    height: 100%;
}

.sale {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #d9534f;
    color: white;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.product-info {
    padding: 15px;
}

.product-info h3 {
    font-size: 14px;
    font-weight: 450;
    margin: 0 0 10px 0;
    height: 40px;
}

.price {
    font-size: 14px;
    font-weight: bold;
    color: #d9534f;
    margin-right: 10px;
}

.compare-price {
    font-size: 14px;
    color: #777777;
    text-decoration: line-through;
}

